<h1>This is test</h1>
    <ul>
    <% highscores.forEach(function(elem){ %>
        <li> 
            <span><%- elem.name %></span>
            <span><%- elem.time %></span>
            <span><%- elem.unique %></span>
            <span><%- elem.correct %></span>
        </li>
        <% }); %>
    </ul>